*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
display:flex;
background:#eef3f8;
}

/* Sidebar */

.sidebar{
width:250px;
height:100vh;
background:#009688;
color:white;
position:fixed;
}

.logo{
text-align:center;
padding:25px;
}

.logo i{
font-size:55px;
margin-bottom:10px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:18px 25px;
cursor:pointer;
transition:.3s;
}

.sidebar li:hover,
.sidebar .active{
background:#00796B;
}

.sidebar i{
width:30px;
}

/* Main */

.main{
margin-left:250px;
width:100%;
padding:30px;
}

/* Top */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.admin{
font-size:22px;
}

.admin i{
font-size:35px;
color:#009688;
margin-right:10px;
}

/* Cards */

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{

background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
text-align:center;
transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card i{

font-size:45px;
color:#009688;

}

.card h2{

margin:15px 0;

}

.card p{

color:gray;

}

/* Welcome */

.welcome{

margin-top:40px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.welcome h2{

color:#009688;
margin-bottom:10px;

}

@media(max-width:900px){

.cards{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.sidebar{

width:80px;

}

.sidebar h2{

display:none;

}

.sidebar li{

font-size:0;

}

.sidebar i{

font-size:22px;

}

.main{

margin-left:80px;

}

.cards{

grid-template-columns:1fr;

}

}
.sidebar ul li a{
    color:white;
    text-decoration:none;
    display:block;
}
/* Light Theme (Default) */
body{
    background:#f4f6f9;
    color:#000;
    transition:0.3s;
}

/* Dark Theme */
.dark-mode{
    background:#121212;
    color:#ffffff;
}

.dark-mode .sidebar{
    background:#1e1e1e;
}

.dark-mode .topbar{
    background:#222;
    color:#fff;
}

.dark-mode .card{
    background:#2b2b2b;
    color:#fff;
}

.dark-mode table{
    background:#2b2b2b;
    color:#fff;
}

.dark-mode th{
    background:#009688;
}

.dark-mode td{
    border-color:#555;
}

#themeBtn{
    padding:8px 15px;
    border:none;
    background:#009688;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
.sidebar ul li a:hover{
    color:#fff;
}
